:root{
    --head: #161414;
}

a:link { text-decoration: none; }

img {
    max-width: 90%;
    height: auto;
}

*{
    text-decoration: none;
}
html{
    font-size: 14px;
}
body{
    min-width: 300px;
    max-width: 1600px;
    height: 500px;
    background-color: rgb(204, 203, 203);
}

/* Profile Start  */

header{
    display: block;
    padding-top: 5vw;
}

img {
    min-width: 300px;
    max-width: 500px;
}

.content,.content>a{
    padding-top: 19vw;
    color: #323538;
}

.content > a > h1{
    color: var(--head);
}

.content{
    margin-top: 20%;
}

/* Profile End */

/* Skills and Projects Start */

.head > h4{
    font-size: 2rem;
    color: var(--head);
    text-align: center;
    text-decoration: underline;
}

.title{
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}

/* Skills Start  */

#progressbar {
    background-color: #323538;
    border-radius: 13px;
    padding: 3px;
}

#progressbar>div {
    background-color: orange;
    width: 80%;
    height: 20px;
    border-radius: 10px;
}

/* Skills End  */

/* Projects Start  */

.team{
    padding: 1.3rem;
    font-size: 0.8rem;
    font-weight: bold;
}

.project{
    padding-bottom: 2rem;
}

.project > .header {
    display: inline-block; 
    width: 100%;
}
.project > .header > .title {
    float: left;
}
.project > .header > .team {
    float: right;
}

.description > ul > li{
    padding: 0.3rem;
    font-size: 1.1rem;
}

li{text-align: justify;}

/* Projects End  */

h1 {font-size:1.5rem;}
h2 {font-size:1rem;}

@media (max-width: 544px){
    .content{margin-top: 10%;}
    .head{padding-top: 2rem;}
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    h1 {font-size:2rem;} /*1rem = 16px*/
    h2 {font-size:1.5rem;}
    
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    h1 {font-size:1.8rem;} /*1rem = 16px*/
    h2 {font-size:1.4rem;}
    .team{
        padding: 1rem;
        font-size: 1rem;
        font-weight: bold;
    }
    .title{
        padding: 10px;
        font-weight: bold;
        font-size: 1.6rem;
    }
    .description > ul > li{
        padding: 0.3rem;
        font-size: 1.1rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    h1 {font-size:2.5rem;} /*1rem = 16px*/
    h2 {font-size:2rem;}
    .team{
        padding: 1rem;
        font-size: 1rem;
        font-weight: bold;
    }
    .title{
        padding: 10px;
        font-weight: bold;
        font-size: 1.8rem;
    }
    .description > ul > li{
        padding: 0.3rem;
        font-size: 1.3rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    h1 {font-size:3rem;} /*1rem = 16px*/    
    h2 {font-size:2.5rem;}
    .head > h4{
        font-size: 3rem;
    }
    .team{
        padding: 1.2rem;
        font-size: 1.3rem;
        font-weight: bold;
    }
    .title{
        padding: 10px;
        font-weight: bold;
        font-size: 2rem;
    }
    .description > ul > li{
        padding: 0.3rem;
        font-size: 1.64rem;
    }
}

@media (min-width:1300px) {
    .container{
        max-width: 1250px;
    }
}

@media (min-width: 1400px) {
    .container{
        max-width: 1360px;
    }
    .head > h4{
        font-size: 3rem;
    }
    .team{
        padding: 1.2rem;
        font-size: 1.4rem;
        font-weight: bold;
    }
    .title{
        padding: 10px;
        font-weight: bold;
        font-size: 2.5rem;
    }
    .description > ul > li{
        padding: 0.3rem;
        font-size: 1.8rem;
    }
}

@media (min-width: 1600px) {
    .container{
        max-width: 1500px;
    }
    .head > h4{
        font-size: 3rem;
    }
    .team{
        padding: 1.2rem;
        font-size: 1.4rem;
        font-weight: bold;
    }
    .title{
        padding: 10px;
        font-weight: bold;
        font-size: 2.5rem;
    }
    .description > ul > li{
        padding: 0.3rem;
        font-size: 1.9rem;
    }
}
